<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <title> Accueil - Epytodo </title>
  </head>
  
  <body>

    <h1> Bonjour et bienvenue à l'Accueil ! </h1>

  </body>
</html>
